<div class="h-screen w-full justify-center flex text-center flex-col from-neutral to-base-300 bg-radial-gradient"
  [ngStyle]="{'background-image': gradientStyle}">
  <div class="h-auto">
    <h1 data-aos="fade-up" class="text-6xl text-primary font-sans mb-5">Tournaments hosted by Netty</h1>
    <p data-aos="fade-up" class="text-2xl text-secondary mb-10">With the tournament-manager included in Netty, we
      provide a simple to use
      tool to
      create and manage tourneys</p>
    <h2 data-aos="fade-up" class="text-4xl text-primary font-sans mb-10">Start managing now</h2>
    <div class="w-auto overflow-hidden">
      <div data-aos="flip-left" class="flex flex-row justify-center">
        <a class="btn btn-primary btn-outline mr-5" *ngIf="!isAuthenticated"
          href="https://discord.com/oauth2/authorize?client_id=898251551183896586&response_type=code&redirect_uri=https%3A%2F%2Fapi.tournamentmanager.netty-bot.com%2FLogin%2FAuthenticated&scope=identify">Log
          in</a>
        <a class="btn btn-primary btn-outline mr-5" (click)="LogOut()" *ngIf="isAuthenticated">Log out</a>
        <a class="btn btn-accent btn-outline" href="mailto:kontakt@brainyxs.com" *ngIf="!isAuthenticated">Request
          access</a>
        <a class="btn btn-accent btn-outline" *ngIf="isAuthenticated">Manage now</a>
      </div>
    </div>
  </div>
</div>
