<div class="collapse bg-base-100" [ngClass]="{'skeleton': !Tournament.DetailsLoaded}">
  <input type="radio" name="my-accordion-1" [disabled]="!Tournament.DetailsLoaded" />
  <div class="collapse-title flex w-full flex-row justify-between">
    <div class="text-xl font-medium">{{Tournament.Name}}</div>
    <div class="text-gray-700 inline-flex items-center">
      <svg class="svg-icon fill-current w-5 h-5 mr-2" viewBox="0 0 20 20">
        <path
          d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z">
        </path>
      </svg>
      <span>{{Tournament.OrganiserDisplayName}}</span>
    </div>
  </div>

  <div class="collapse-content">
    <div class="flex justify-between items-center mb-4">
      <p class="text-lg font-semibold">Status: <span>{{Tournament.Status}}</span></p>
      <p class="text-lg font-semibold">Players: <span>{{Tournament.CountPlayers()}}</span></p>
      <a class="btn btn-secondary" [routerLink]="ManageLink" *ngIf="Tournament.CanManage">Manage Tournament</a>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">
      <div *ngFor="let p of Tournament.Players">{{p.Name}}</div>
    </div>

    <div class="flex justify-between text-sm text-gray-600">
      <div>Created: <span>{{Tournament.CreatedDate}}</span></div>
      <div>Server: <span>{{Tournament.GuildName}}</span></div>
    </div>
  </div>
</div>
