<div class="w-full h-screen justify-center flex text-center flex-col">
  <h1 class="text-4xl text-primary font-sans mb-5">Aktuelle Turniere</h1>
  <div class="w-full justify-center items-center flex text-center">
    <div class="collapse bg-base-200 w-full lg:w-2/3 m-2">
      <input type="radio" name="my-accordion-1" checked="checked" />
      <div class="collapse-title text-xl font-medium ">Ue-Racing by Nino am 10.2.2024</div>
      <div class="collapse-content">
        <p>hello</p>
      </div>
    </div>
  </div>
  <h1 class="text-4xl text-primary font-sans mb-5">Vergangene Turniere</h1>
</div>
